@import "tailwindcss";

:root {
  /* Base colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Brand palette */
  --color-primary: #d87d4a;
  --color-primary-light: #fbaf85;
  --color-dark: #101010;
  --color-gray-light: #f1f1f1;
  --color-gray-lighter: #fafafa;
  --color-white: #ffffff;
  --color-black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-dark: var(--color-dark);
  --color-gray-light: var(--color-gray-light);
  --color-gray-lighter: var(--color-gray-lighter);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1440px; 
  margin: 0 auto;
}